<div class="show-post">
  <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-primary float-end"%>
  <h1>
    <%= @post.title %>
  </h1>

  <p>
    <small>
      <%= time_tag @post.created_at, "data-local": "time-ago" %>
    </small>
  </p>
  <hr>
  <p>
    <%= @post.content %>
  </p>

  <%= render 'posts/comments', post: @post %>

</div>